<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickBoard</title>
    <link rel="stylesheet" href="/templates/stylesheets/style.css">
</head>
<body>
<div class="container">
    <div class="header">
        <span class="title">add list</span>
            
        <div class="header-buttons"><form>
            <button class="title-button" formaction="settings.html">settings</button>
            <button class="title-button" formaction="homepage.html">log out</button>
        </form></div> <!-- header-buttons -->
    </div> <!-- header -->
    
    <div class="addlist-box">
        <form id="addlist">
        <input type="text" id="" name="addlist-title" placeholder="title" class="addlist-title">
        </form>
        <textarea id="" name="addlist-content" class="addlist-content" rows="31" form="addlist"></textarea>
        
        <div class="settings-button-area">
            <form>
            <button id="cancel-button" class="settings-button" formaction="">cancel</button>
            <button id="save-button" class="settings-button" formaction="">save</button>
            </form>
        </div> <!-- settings-button-area -->
    </div> <!-- addlist-box -->
    
    
</div> <!-- container -->
</body>
</html>