<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
    <link rel="stylesheet" href="/templates/stylesheets/auth.css">
</head>

<body>
    <div class="login">
        <div class="form" id="shadow">
            <div class="quickboard">quickboard</div>
            <form class="register-form">
                <input type="text" placeholder="Username" minlength="3" maxlength="20">
                <input type="password" placeholder="Password">
                <input type="email" placeholder="Email">
                <button type="button" class="auth-button" id="shadow">Register</button>
                <p class="message">Already Resistered? <a href="#">Login</a></p>
            </form>

            <form class="login-form">
                <input type="text" placeholder="Username" minlength="3" maxlength="20">
                <input type="password" placeholder="Password">
                <button type="button" class="auth-button" id="shadow">Login</button>
                <p class="message">Don't have an account? <a href="#">Register</a></p>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="scripts/auth.js"></script>
</body>

</html>