<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickBoard</title>
    <link rel="stylesheet" href="/templates/stylesheets/style.css">
</head>
<body>
<div class="container">
    <div class="header">
        <span class="title">(title)</span>
            
        <div class="header-buttons"><form>
            <button class="title-button" formaction="settings.html">settings</button>
            <button class="title-button" formaction="homepage.html">log out</button>
        </form></div> <!-- header-buttons -->
    </div> <!-- header -->
    
    <div class="board-grid">
        
        <div class="add-list">
            <a href="add-list.html" title="add a list" class="add-list-button">+</a>
        </div> <!-- add-list -->
        
    </div> <!-- board-grid -->
    
    
</div> <!-- container -->
</body>
</html>