<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickBoard</title>
    <link rel="stylesheet" href="/templates/stylesheets/style.css">
</head>
<body>
<div class="container">
    <div class="header">
        <span class="title">flower</span>
            
        <div class="header-buttons"><form>
            <button class="title-button" formaction="settings.html">settings</button>
            <button class="title-button" formaction="homepage.html">log out</button>
        </form></div> <!-- header-buttons -->
    </div> <!-- header -->
    
    <div class="board-grid">
        <div class="list-box">
        <center><p><a href="edit-list.html" class="list-title" title="edit list">movies</a></p></center>
            
        <ul>
            <li>no time to die</li>
            <li>the 355</li>
            <li>dune</li>
            <li>the suicide squad</li>
            <li>top gun: maverick</li>
            <li>the matrix 4</li>
            <li>black widow</li>
            <li>untitled spider-man sequel</li>
            <li>godzilla vs. kong</li>
            <li>halloween kills</li>
            <li>venom: let there be carnage</li>
            <li>f9</li>
            <li>ghostbusters: afterlife</li>
            <li>the eternals</li>
            <li>cinderella</li>
            <li>the hitman's wife's bodyguard</li>
            <li>mortal kombat</li>
            <li>the french dispatch</li>
            <li>the king's man</li>
            <li>the conjuring: the devil made me do it</li>
        </ul>
        </div> <!-- list-box -->
        
        <div class="list-box">
        <center><p><a href="edit-list.html" class="list-title" title="edit list">songs</a></p></center>
            
        <ul>
            <li>jasmine - dpr live</li>
        </ul>
    
        </div> <!-- list-box -->
        
        <div class="list-box">
        <center><p><a href="edit-list.html" class="list-title" title="edit list">random</a></p></center>
        <ul>
            <li>When the skies and the grounds were one, the legends, through their twelve forces, nurtured the tree of life.</li>
            <li>An eye of red force created the evil which coveted the heart of tree of life, and the heart slowly grew dry.</li>
            <li>To tend and embrace the heart of tree of life, the legends hereby divide the tree in half and hide each side.</li>
            <li>Hence, time is over-turned and space turns askew.</li>
            <li>The twelve forces divide into two and create two suns that look alike into two worlds that seem alike.</li>
            <li>The legends travel apart.</li>
            <li>The legends shall now see the same sky but shall stand on different grounds, shall stand on the same ground but shall see different skies.</li>
            <li>The day the grounds be kept a single file before one sky in two worlds that seem alike, the legends will greet each other.</li>
            <li>The day the red force is purified, the twelve forces will reunite into one perfect root, a new world shall open up.</li>
        </ul>
        </div> <!-- list-box -->
        
        <div class="add-list">
            <a href="edit-list.html" title="add a list" class="add-list-button">+</a>
        </div> <!-- add-list -->
        
    </div> <!-- board-grid -->
    
    
</div> <!-- container -->
</body>
</html>