<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickBoard</title>
    <link rel="stylesheet" href="/templates/stylesheets/style.css">
</head>
<body>
<div class="container">
    <div class="header">
        <span class="title">numbers</span>
            
        <div class="header-buttons"><form>
            <button class="title-button" formaction="">my board</button>
            <button class="title-button" formaction="homepage.html">log out</button>
        </form></div> <!-- header-buttons -->
    </div> <!-- header -->
    
    <div class="board-grid">
        <div class="list-box">
        <center><p class="list-title">1-10</p></center>
            
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
        </ul>
        </div> <!-- list-box -->
        
        <div class="list-box">
        <center><p class="list-title">11-15</p></center>
            
        <ul>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
        </ul>
    
        </div> <!-- list-box -->
        
        <div class="list-box">
        <center><p class="list-title">16-25</p></center>
        <ul>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
        </ul>
        </div> <!-- list-box -->
        
    </div> <!-- board-grid -->
    
    
</div> <!-- container -->
</body>
</html>