{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="header">
        <span class="title"> <i class="fas fa-list"></i>Quickboard</i></span>
    </div> <!-- header -->

    <div class="home-text-box" style="margin-bottom: 30px;">
        <p class="home-text"><br>Welcome to Quickboard.<br><br>
            Here in quickboard our users are able to express themselves in the form of lists. Want to let people know you favorite
            things such as movies, books, or games, make them into a list. Have a playlist you want to share with othes, what better
            way to do it than in a list.<br><br>
            - Discover new users and enjoying viewing their lists.<br><br></p>
    </div>
    {% for users in user %}
    
    <center>
    <div  style="background-color: black;width: 40%;height: 100%; margin: 10px; float: left;border-radius: 20px;">
        <div style="background-color: #62C370;">
            <a href="{{ url_for('user_explore', username=users.username) }}">
                <center>
                    <h1 class="display-4"><i class="fas fa-user-circle"></i></h1>
                    <h3 class="rs-title">{{users.username}}</h3>
                </center>
            </a>
        </div> <!-- list-box -->
    </div>
    {% endfor %}
    </center>   

</div> <!-- container -->
{% endblock %}
