{% extends "base.html" %}

{% block content %}
{% if user == current_user %}
{% endif %}
<div class="container">
    <div class="jumbotron jumbotron-fluid header">
        <div>
            <h1 class="display-4"><i class="fas fa-user-circle"></i>  {{user.username}}</h1>
            <hr class="my-4">
            <p style="font-size: 20px;color: black;">Create New List <a href="{{ url_for('new_list') }}" style="font-size: 20px;color: black;"><i class="fas fa-plus-square"></i></a></p>
        </div>
    </div>
    <div class="board-grid">
        {% for post in posts %}
        {% include '_post.html' %}
        {% endfor %}
    </div>
</div> <!-- container -->
{% endblock %}